:root {
    --white: #ffffff;
    --black: #000000;
    --blue: #2196f3;
    --lightgrey: #757575;
    --mediumgrey: #2f303a;
    --darkgrey: #212121;
    --buttonbackground: #f5f4fa;
    --background: #e5e5e5;
    --bordergrey: #ececec;
    --cardborder: #eeeeee;
    --color-icons: #afb1b8;
    --footerlinks: rgba(255, 255, 255, 0.6);
    --boxshadowcolor: rgba(0, 0, 0, 0.15);
    --boxshadowcolorone: rgba(0, 0, 0, 0.1);
    --boxshadowcolortwo: rgba(0, 0, 0, 0.08);
    --boxshadowcolorthree: rgba(0, 0, 0, 0.12);
    --boxshadowcolorfour: rgba(0, 0, 0, 0.14);
    --boxshadowcolorfive: rgba(0, 0, 0, 0.2);
    --boxshadowcolorsix: rgba(0, 0, 0, 0.06);
    --boxshadowcolorseven: rgba(0, 0, 0, 0.16);
    --background-image: rgba(47, 48, 58, 0.8);
    --backdrop: rgba(0, 0, 0, 0.2);
    --background-card: rgba(33, 150, 243, 0.9);
    --border-signup: rgba(255, 255, 255, 0.3);
    --textarea-border: rgba(33, 33, 33, 0.2);
    --textarea-placeholder: rgba(117, 117, 117, 0.5);
  }

  
  body {
    font-family: "Roboto", "Raleway", sans-serif;
    background-color: var(--white);
    color: var(--darkgrey);
    font-size: 14px;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
  }
  
  .no-margin {
    margin: 0px;
  }
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  .link-no-underline {
    text-decoration: none;
  }
  .no-padding-bottom {
    padding-bottom: 0px;
  }
  
  .blue-text {
    color: var(--blue);
  }
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  } 
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
/* header */

.header {
  align-items: center;
  display: flex;
  background-color: var(--white);
  height: 80px;
}

.border-menu {
  border-bottom: 1px solid var(--bordergrey);
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black);
  font-family: "Raleway", sans-serif;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  text-decoration: none;
}

.logo--dark-theme{
  color: var(--black);
}

.logo--accent-text {
  color: var(--blue);
}

.navigation{
  display: flex;
}
.menu {
  gap: 46px;
  padding: 0%;
  display: flex;
  list-style: none;
  margin-left: auto;
}

.menu__item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--darkgrey);
  
}

.menu__link {
  color: var(--darkgrey);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.menu__link:hover,
.menu__link:focus {
  color: var(--blue);
}

.menu__link--border {
  color:var(--blue);
}
.menu__link--border::after {
  position: relative;
  content: "";
  width: 100%;
  height: 4px;
  top: 32px;
  background: var(--blue);
  border-radius: 2px;
  display: block;
}
.nav-active::after {
  position: absolute;
  content: "";
  border-radius: 2px;
  height: 4px;
  width: 100%;
  top: 49px;
  left: 0;
  background-color: transparent;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-active:hover::after,
.nav-active:focus::after {
  background-color: var(--blue);
}


.contact {
  gap: 50px;
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  padding: 32px 0px 32px 0px;
}
.contactitem {
  display: flex;
  align-items: center;}

.contact__link {
  color: var(--lightgrey);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover,
.contact__link:focus {
  color: var(--blue);
}

.contact__icon {
  margin-right: 10px;
} 

/* main-section */

.main-section {
  background-color: var(--mediumgrey);
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px 0px;
  gap: 30px;
  flex-direction: column;
  background-image: linear-gradient(to right, #2f303a66 0%, #2f303a66 100%),
    url(../images/team-in-work.jpg);
  background-size: 1600px;
  max-width: 1600px;
  margin: 0 auto;
}

.main-section__text {
  color: var(--white);
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.main-button {
  font-family: "Roboto";
  background-color: var(--blue);
  border-radius: 4px;
  box-shadow: 0px 4px 4px var(--boxshadowcolor);
  cursor: pointer;
  color: var(--white);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: block;
  border-style: none;
  padding: 10px 41px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* lorem */

.lorem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-padding-bottom {
  padding-bottom: 0px;
}
.lorem__box {
  display: flex;
  width: 1170px;
  gap: 30px;
  padding: 0%;
}

.lorem__header {
  width: 270px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--darkgrey);
  letter-spacing: 0.03em;
}

.lorem__text {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--lightgrey);
  letter-spacing: 0.03em;
}

/* section service */

.service {
  width: 1170px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.service__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--darkgrey);
  text-align: center;
  margin: 0px 0px 50px 0px;
}
.service__work-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 0%;
}

.service__thumb {
  position: relative;
}
.label {
  background: var(--background-image);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
}
.label__text {
  color: var(--white);
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 27px 0px;
}

/* section team */

.team {
  background-color: var(--buttonbackground);
  width: 100%;
}
.team__header{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--darkgrey);
  text-align: center;
  margin: 0px 0px 50px 0px;

}
.team__list {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 0%;
}
.team__list-pocket{
  width: 270px;
  left: 215px;
  top: 1635px;
  background-color: var(--white);
  text-align: center;
  justify-content: center;
  margin: 0%;
  box-shadow: 0px 1px 3px var(--boxshadowcolorthree), 0px 1px 1px var(--boxshadowcolorfour),
    0px 2px 1px var(--boxshadowcolorfive);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--darkgrey);
  margin-top: 30px;
  margin-bottom: 10px;
}
.team__profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--lightgrey);
}
.social-links {
  display: flex;
  margin-top: 16px;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}

.social-links__icon {
  color: var(--color-icons);
  background-color: var(--white);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__icon:hover,
.social-links__icon:focus {
  color: var(--white);
  background-color: var(--blue);
}

.blue-text {
  color: var(--blue);
}

/* section partners */

.partners-header{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--darkgrey);
  text-align: center;
  margin: 0px 0px 50px 0px;
}
.partners{
  display: flex;
flex-direction: row;
  gap: 30px;}

.partners__logo:hover svg,
.partners__logo:focus svg {
  fill: var(--blue);
  border-color: var(--blue);
}
.partners__logo:focus {
  outline: none;
}
.partners__logo-svg {
  border: 1px solid var(--color-icons);
  border-radius: 4px;
  fill: var(--color-icons);
  width: 170px;
  height: 92px;
  padding-top: 18px;
  padding-bottom: 14px;
  padding-right: 32px;
  padding-left: 32px;
  cursor: pointer;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.partners__logo-svg:hover,
.partners__logo-svg:focus {
  fill: var(--blue);
  border-color: var(--blue);
}

/* footer */

.footer {
  width: 100%;
  background-color: var(--mediumgrey);
  color: var(--white);
  padding: 60px 0px;
}
.footer__box {
  color: var(--white);
  margin-left: auto;
  display: flex;
  align-items: baseline;
}
.footer__box-address {
  flex-direction: column;
}
.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white);
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
.logo-footer-color{
  color: var(--blue);

}
.address-text {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  width: 246px;
}
.footer__link {
  margin: 9px 0px 9px 0px;
  padding: 0px;
  list-style: none;
}
.footer__link-contact {
  color: var(--footerlinks);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 9px 0px 9px 0px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link-contact:hover,
.footer__link-contact:focus {
  color: var(--blue);
}
.footer__socials {
  margin-left: 70px;
}
.footer__socials-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white);
  margin-bottom: 20px;
}
.footer__socials-links {
  display: flex;
  gap: 10px;
}

.footer__socials-icon {
  color: var(--white);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, background-color;
  display: flex;
}
.footer__socials-icon:hover,
.footer__socials-icon:focus {
  background-color: var(--blue);
}

.newsletter {
  margin-left: 78px;
}
.newsletter__header{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--white);
margin-bottom: 20px;}

.newsletter__list {
  display: flex;
  gap: 12px;
}

.input-email {
  color: #ffffff99;
  background-color:var(--mediumgrey);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  border: 1px solid var(--border-signup);
  border-radius: 4px;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border;
}
.input-email:hover,
.input-email:focus {
  border: 1px solid var(--blue);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.newsletter-button {
  font-family: "Roboto";
  background-color: var(--blue);
  border-radius: 4px;
  box-shadow: 0px 4px 4px var(--boxshadowcolor);
  cursor: pointer;
  color: var(--white);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-style: none;
  display: flex;
  padding-left: 42px;
  align-items: center;
  text-align: center;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-send {
  fill:var(--white);
  margin-left: 24px;
}

/* backdrop/modal */
.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
  display: flex;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  transform: translateX(-50%) translateY(-50%);
  background: var(--white);
  box-shadow: 0px 1px 3px var(--boxshadowcolorthree), 0px 1px 1px var(--boxshadowcolorfour),
    0px 2px 1px var(--boxshadowcolorfive);
  border-radius: 4px;
  left: 50%;
  top: 50%;
}

.modal__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top:8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white);
  border: 1px solid var(--boxshadowcolorone);
  border-radius: 50%;
  cursor: pointer;
}
.modal__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 2.3px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--darkgrey);
  margin-top: 40px;
}
.modal__label {
  display: block;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--lightgrey);
  margin-left: 40px;
  fill: var(--blue);
}

.modal__input {
  display: block;
  height: 40px;
  width: 448px;
  border: 1px solid var(--textarea-border);
  border-radius: 4px;
  color: var(--darkgrey);
  font-size: 12px;
  letter-spacing: 0.03em;
  line-height: 1.25;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 0 0 0 42px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border, outline-color;
  background-color: transparent;
}

.modal__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--textarea-placeholder);
}
.modal__input:hover,
.modal__input:focus {
  border: 1px solid var(--blue);
}
.modal__input:focus-within + .modal__icon,
.modal__input:hover + .modal__icon {
  fill: var(--blue);
}

.modal__icon {
  position: absolute;
  fill: var(--darkgrey);
  height: 12px;
  width: 12px;
  left: 15px;
  bottom: 20px;
  right: 435px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transform: translateY(50%); 
  z-index: -1;
}

.modal__icon:hover,
.modal__icon:focus{
  fill:var(--blue);
}
.modal__feedback {
  width: 448px;
  height: 120px;
  resize: none;
  padding-top: 12px;
  padding-left: 16px;
}
.no-margin-bottom {
  margin-bottom: 0%;
}
.checkbox {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--lightgrey);
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 55px;
  
}

.checkbox__icon {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 16px;
  height: 15px;
  border: 2px solid var(--darkgrey);
  border-radius: 2px;
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, background-image;
  margin-right: 8px;
  cursor: pointer;
}
.checkbox__icon:checked {
  border: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-color:var(--blue);
}
.checkbox--hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.button-send {
  font-family: "Roboto";
  background-color:var(--blue);
  border-radius: 4px;
  box-shadow: 0px 4px 4px var(--boxshadowcolor);
  cursor: pointer;
  color:var(--white);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: block;
  border-style: none;
  margin-left: 164px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* portfolio */
.second-menu {
  margin-top: 94px;
  display: flex;
  justify-content: center;
  gap: 8px;
  list-style: none;}

.button-second {
  font-family: "Roboto";
  padding: 6px 22px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--darkgrey);
  background-color: var(--buttonbackground);
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  border-width: 0;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-second:hover,
.button-second:focus {
  background-color: var(--blue);
  color:var(--white);
  box-shadow: 0px 3px 1px var(--boxshadowcolorone), 0px 1px 2px var(--boxshadowcolortwo),
    0px 2px 2px var(--boxshadowcolorthree);
}

.portfolio {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  margin-top: 50px;
  list-style: none;
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
  gap: 30px;
  justify-content: center;
}
.portfolio__list-project {
  width: 370px;
  background-color:var(--white);
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__list-project:hover,
.portfolio__list-project:focus {
  box-shadow: 0px 1px 1px var(--boxshadowcolorthree), 0px 4px 4px var(--boxshadowcolorsix),
    1px 4px 6px var(--boxshadowcolorseven);
}
.portfolio__list-project:hover .overlay {
  transform: translate(0);
}

.pack {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  transform: translateY(100%);
  transition: 250ms;
  background: var(--background-card);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white);
  text-align: start;
  padding: 49px 45px 49px 24px;
  margin: 0px;
}
.card-description {
  border-left: 1px solid var(--cardborder);
  border-right: 1px solid var(--cardborder);
  border-bottom: 1px solid var(--cardborder);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.card-description__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--darkgrey);
  letter-spacing: 0.06em;
  margin: 0px;
  margin-bottom: 4px;
}
.card-description__specification {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--lightgrey);
  margin: 0px;
}

img {
  display: block;
}
.lorem li > div {
  background: var(--buttonbackground);
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 102px;
}
svg {
  fill: currentColor;
}

