.root {
  --white: #ffffff;
  --black: #000000;
  --blue: #2196f3;
  --darkgrey: #2f303a;
  --grey: #757575;
  --lightgrey: #e5e5e5;
  --notblack: #212121;
  --notwhite: #f5f4fa;
  --background: #2f303a;
  --footerlinks: #ffffff99;
  --productborder: #eeeeee;
  --lightcream: #ececec;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: var(--lightgrey);
  color: var(--grey);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: var(--white);
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}
.header {
  align-items: center;
  display: flex;
  gap: 93px;
  background-color: var(--white);
  width: auto;
  border-bottom: 1px solid var(--lightcream);
  height: 80px;
}

.link-no-underline {
  text-decoration: none;
}

.contacts-style {
  gap: 50px;
  display: flex;
  padding-left: 371px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  margin-top: 32px;
  margin-bottom: 32px;
}
.contact-link-style {
  color: #757575;
  text-decoration: none;
}
.contact-link-style:hover,
contact-link-style:focus {
  color: #2196f3;
}

.logo-style {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black);
  font-family: "Raleway", sans-serif;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-left: 215px;
  text-decoration: none;
}
.blue-text {
  color: #2196f3;
}

.navigation-style {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  gap: 46px;
}
.navigation-list {
  display: flex;
  list-style: none;
  margin: 0px;
}

.link-style {
  color: #212121;
  width: 254px;
  left: 453px;
  top: 32px;
  text-decoration: none;
}
.link-style:hover,
.link-style:focus {
  color: #2196f3;
}

ul {
  list-style-type: none;
}

.main-section {
  background-color: #2f303a;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px 0px;
  gap: 30px;
  flex-direction: column;
}

.main-text {
  color: white;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.main-button-style {
  font-family: "Roboto";
  background-color: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: white;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  border-style: none;
  padding: 10px 41px;
}
.no-margin {
  margin: 0px;
}
.lorem {
  padding-top: 94px;
}
.box {
  display: flex;
  width: 1170px;
  gap: 30px;
  justify-content: flex-start;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: auto;
}

.team {
  width: 100%;
  left: 0px;
  top: 1449px;
  background-color: #f5f4fa;
  text-align: center;
  padding-top: 94px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.work-header {
  width: 270px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  letter-spacing: 0.03em;
}

.work-text {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  letter-spacing: 0.03em;
}

.service {
  width: 1170px;
  left: 215px;
  top: 969px;
  padding: 94px 0px 94px 0px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.work-list {
  display: flex;
  gap: 30px;
  margin: auto;
  justify-content: center;
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
  text-align: center;
  margin: 0px 0px 50px 0px;
}
.team-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}
.team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}

.pocket-team {
  width: 270px;
  left: 215px;
  top: 1635px;
  background-color: white;
  text-align: center;
  justify-content: center;
  margin: 0%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 94px;
}
.footer {
  width: 100%;
  left: 0px;
  top: 2097px;
  background-color: #2f303a;
  color: white;
  padding: 60px 0px;
}
.footer-container {
  flex-direction: column;
  color: white;
  margin-left: auto;
}

.address-text {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-link-style {
  margin-top: 9px;
  padding: 0px;
  list-style: none;
}
.footer-contact-link {
  color: #ffffff99;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 9px 0px 9px 0px;
}
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: #2196f3;
}
.logo-footer-style {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black);
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
.blue-text {
  color: #2196f3;
}
.white-logo {
  color: white;
}

.button-secondary {
  font-family: "Roboto";
  padding: 6px 22px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  border-width: 0;
}
.button-secondary:hover,
.button-secondary:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.button-secondary-container {
  margin-top: 94px;
  display: flex;
  margin-top: 94px;
  justify-content: center;
  gap: 8px;
  list-style: none;
}
.portfolio {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  margin-top: 50px;
  margin-bottom: 94px;
  list-style: none;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  gap: 30px;
  justify-content: center;
}

.project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  letter-spacing: 0.06em;
  margin: 20px 24px 4px 24px;
}
.project-specification {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  margin: 4px 24px 20px 24px;
}

.pocket-project {
  width: 370px;
  height: 404px;
  background-color: white;
  border-bottom: 1px solid #eeeeee;
}
