.root {
  --white: #ffffff;
  --black: #000000;
  --blue: #2196f3;
  --darkgrey: #2f303a;
  --grey: #757575;
  --lightgrey: #e5e5e5;
  --notblack: #212121;
  --notwhite: #f5f4fa;
  --background: #2f303a;
  --footerlinks: #ffffff99;
  --productborder: #eeeeee;
  --lightcream: #ececec;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: var(--lightgrey);
  color: var(--grey);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  align-items: center;
  display: flex;
  background-color: var(--white);
  height: 80px;
}
.border-menu {
  border-bottom: 1px solid #ececec;
}

.link-no-underline {
  text-decoration: none;
}

.contacts-style {
  gap: 50px;
  display: flex;
  padding-left: 371px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.contact-link-style {
  color: #757575;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.contact-link-style:hover,
.contact-link-style:focus {
  color: #2196f3;
}

.contact-icon {
  fill: #757575;
  margin-right: 10px;
}

.contact-icon:hover,
.contact-icon:focus {
  fill: #2196f3;
}

.logo-style {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black);
  font-family: "Raleway", sans-serif;
  padding-top: 24px;
  padding-bottom: 25px;
  margin: auto;
  text-decoration: none;
}
.blue-text {
  color: #2196f3;
}

.navigation-style {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  gap: 46px;
  padding: 0%;
}
.navigation-list {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.link-style {
  color: #212121;
  width: 254px;
  left: 453px;
  top: 32px;
  text-decoration: none;
}
.link-style:hover,
.link-style:focus {
  color: #2196f3;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.main-section {
  background-color: #2f303a;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px 0px;
  gap: 30px;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #2f303a66 0%, #2f303a66 100%),
    url(../images/team-in-work.jpg);
  background-size: 1600px;
}

.main-text {
  color: white;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.main-button-style {
  font-family: "Roboto";
  background-color: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: white;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: block;
  border-style: none;
  padding: 10px 41px;
}
.no-margin {
  margin: 0px;
}

.box {
  display: flex;
  width: 1170px;
  gap: 30px;
  padding: 0%;
}
.team {
  background-color: #f5f4fa;
  width: 100%;
}

.lorem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-padding-bottom {
  padding-bottom: 0px;
}
.work-header {
  width: 270px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  letter-spacing: 0.03em;
}

.work-text {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  letter-spacing: 0.03em;
}

.service {
  width: 1170px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.work-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 0%;
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
  text-align: center;
  margin: 0px 0px 50px 0px;
}
.team-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 0%;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}
.social-links {
  display: flex;
  margin-top: 16px;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}

.icon-social {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  fill: #afb1b8;
}
.icon-social:hover,
.icon-social:focus {
  border-radius: 50%;
  background-color: #2196f3;
  fill: #ffffff;
}

.pocket-team {
  width: 270px;
  left: 215px;
  top: 1635px;
  background-color: white;
  text-align: center;
  justify-content: center;
  margin: 0%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.footer {
  width: 100%;
  background-color: #2f303a;
  color: white;
  padding: 60px 0px;
}
.footer-container {
  flex-direction: column;
  color: white;
  margin-left: auto;
  display: flex;
}

.address-text {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-link-style {
  margin-top: 9px;
  padding: 0px;
  list-style: none;
}
.footer-contact-link {
  color: #ffffff99;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 9px 0px 9px 0px;
}
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: #2196f3;
}
.logo-footer-style {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black);
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
.blue-text {
  color: #2196f3;
}
.white-logo {
  color: white;
}

.partners {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.partner-box {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  width: 170px;
  height: 92px;
  padding-top: 18px;
  padding-bottom: 14px;
  padding-right: 32px;
  padding-left: 32px;
  cursor: pointer;
}

.partner-box:hover,
.partners-box:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.footer-social-links {
  display: flex;
  gap: 10px;
}
.footer-icon-social {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: white;
}
.footer-icon-social:hover,
.footer-icon-social:focus {
  border-radius: 50%;
  background-color: #2196f3;
  fill: #ffffff;
}
.socials {
 
}
.social-media-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 20px;
}

.button-secondary {
  font-family: "Roboto";
  padding: 6px 22px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  border-width: 0;
}
.button-secondary:hover,
.button-secondary:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.button-secondary-container {
  margin-top: 94px;
  display: flex;
  justify-content: center;
  gap: 8px;
  list-style: none;
}
.portfolio {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  margin-top: 50px;
  list-style: none;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
  gap: 30px;
  justify-content: center;
}

.project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  letter-spacing: 0.06em;
  margin: 0px;
  margin-bottom: 4px;
}
.project-specification {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  margin: 0px;
}

.pocket-project {
  width: 370px;
  background-color: white;
}

.border-no-top {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
img {
  display: block;
}
.lorem li > div {
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 102px;
}
