.lorem {
    display: flex;
    align-items: center;
    justify-content: center;
  
  &__box {
    display: flex;
    width: 1170px;
    gap: 30px;
    padding: 0%;
  }
  &__header {
    width: 270px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--darkgrey);
    letter-spacing: 0.03em;
  }
  &__text {
    width: 270px;
    font-size: 14px;
    line-height: 1.71;
    color: var(--lightgrey);
    letter-spacing: 0.03em;
  }}
  .no-padding-bottom {
    padding-bottom: 0px;
  }