.partners-header{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--darkgrey);
    text-align: center;
    margin: 0px 0px 50px 0px;
  }
  .partners{
    display: flex;
    flex-direction: row;
    gap: 30px;
  
  &__logo{

  &:hover svg,
  &:focus svg {
    fill: var(--blue);
    border-color: var(--blue);
  }
  &:focus {
    outline: none;
  }
  &-svg {
    border: 1px solid var(--color-icons);
    border-radius: 4px;
    fill: var(--color-icons);
    width: 170px;
    height: 92px;
    padding-top: 18px;
    padding-bottom: 14px;
    padding-right: 32px;
    padding-left: 32px;
    cursor: pointer;
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-svg:hover,
  &-svg:focus {
    fill: var(--blue);
    border-color: var(--blue);
  }}}
  